.ant-modal {
    top: 5px;
}
.ant-modal .ant-modal-content {
    background: black !important;
    display: flex;
    align-items: center;
    padding: 3px;
}
.ant-modal .ant-modal-title {
    background: black !important;
}
.ant-modal .ant-modal-close {
    color: white !important;
    top: 5px;
}
.css-dev-only-do-not-override-98ntnt{
    margin-top: 0 !important;
}