@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #121212;
    color: #989898;
    text-overflow: ellipsis;
}
/* Для Chrome, Safari, Edge */
.dark-scrollbar::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
    background: #1a1a1a; /* Тёмный фон скроллбара */
}

.dark-scrollbar::-webkit-scrollbar-thumb {
    background: #444; /* Цвет "ползунка" */
    border-radius: 6px; /* Скругление углов */
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #666; /* Цвет при наведении */
}

/* Для Firefox */
.dark-scrollbar {
    scrollbar-color: #444 #1a1a1a; /* Цвет "ползунка" и фона */
}
  